/* Resolução celular */
@media screen and (max-width: 600px){
    img.telefone{
        display: block; 

    }
    img.pc{
        display: none;
    }
    img.tv{
        display: none;
    }
    img.impressora{
        display: none;
    }
    img.tablet{
        display: none;

    }
    h1{
        padding-bottom: 10px;
        color: rgb(15, 156, 62);
    }
    main{
        width: 300px;
    }
    

}

/* Resolução tablet */
@media screen and (min-width: 600px) and (max-width: 992px){
    img.telefone{
        display: none; 
    }
    img.pc{
        display: none;
    }
    img.tv{
        display: none;
    }
    img.impressora{
        display: none;
    }
    img.tablet{
        display: block;
    }
    h1{
        padding-bottom: 10px;
        color: aliceblue;
    }
    main{
        width: 50vw;
    }
  


}
/* resolução tela desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    img.telefone{
        display: none; 
    }
    img.pc{
        display: block;
    }
    img.tv{
        display: none;
    }
    img.impressora{
        display: none;
    }
    img.tablet{
        display: none;

    }
    h1{
        padding-bottom: 10px;
        color: red;
    }
    main{
        width: 50vw;
    }
    
    

}
   /* resolução telas grandes  */
@media screen and (min-width: 1200px){
    img.telefone{
        display: none; 
    }
    img.pc{
        display: none;
    }
    img.tv{
        display: block;
    }
    img.impressora{
        display: none;
    }
    img.tablet{
        display: none;

    }
    main{
        width: 30vw;
    }    
}
    
    


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(celular-grande.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    
}
main{
    background-color: rgba(255, 255, 255, 0.76);
    padding: 20px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 20px;
    border-radius: 16px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.616);
    
}


img{
    display: block;
    margin: auto;
}

/* display: none; serve pra ocultar elemento */
/* display: block; ele não fica oculto */



