
/* h1{
    color: brown;
}
celulares largura
@media(max-width: 450px) {
    h1{
        color: blue;
    }
    body{
        background-color: blanchedalmond;
    }
}
/* tabletes */
/* @media(min-width: 768px) and (max-width: 1024px){
    body{
        background-color: chartreuse;
    }
} */
*{
    margin: 0;
    padding: 0;
}
html, body{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
    
    /* background-size: 1500px 700px; */
main{
    background-color: rgba(255, 255, 255, 0.479);
    width: 400PX;
    height: 400PX;
    border-radius: 10PX;
    color: rgba(0, 128, 0, 0.733);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
    text-align: center;
    padding-top: 10px;
    

   
    
}
select{
    margin-top: 29PX;
    width: 256PX;
    padding: 10PX;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.432);
    
}




@media(orientation: landscape){
    html, body{
        
        background-color: blue;
        background-image: url(CDU_7-scaled.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      
       

    }

}

@media(orientation: portrait){
    html, body{
        background-color: aqua;
        background-image: url(Sem\ título.png);
    }


